.maps {
    width: 100%;
    max-width: 1360px;
    height: 350px;
    margin: 0 auto;
  }
  
  .maps iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding-bottom: 40px;
  }
  
  @media (max-width: 1024px) {
    .maps {
      height: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .maps {
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .maps {
      height: 200px;
    }
  }